@model AnimalWars.Models.AnimalWar

@{
    ViewBag.Title = "Animal Wars - " + Model.Category;
}

@using (Html.BeginForm("War", "Home"))
{
    <input type="hidden" id="category" name="category" value="@Model.Category.ToString()"/>
    <div class="row text-center" style="margin-top: 10px;"><div class="col-xs-12">@Html.ActionLink("< Choose a different category", "Index")</div></div>
    <div class="row">
        <div class="col-md-5 text-center">
            <button id="animal1" value="@Model.AnimalOne.Id" name="animal1" type="submit" class="btn btn-primary btn-lg">@Model.AnimalOne.Name</button><br />
            <img src="@Model.AnimalOne.Image" alt="@Model.AnimalOne.Name" style="width:100%" />
        </div>
        <div class="col-md-2 text-danger text-center" style="font-size: 3em;">vs</div>
        <div class="col-md-5 text-center">
            <button id="animal2" value="@Model.AnimalTwo.Id" name="animal2" type="submit" class="btn btn-primary btn-lg">@Model.AnimalTwo.Name</button>
            <img src="@Model.AnimalTwo.Image" alt="@Model.AnimalTwo.Name" style="width:100%" />
        </div>
    </div>
}